@font-face {
    font-family: dogica;
    src: url(fonts/dogica.otf);
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.heading-logo {
    text-align: center;
    background-color: #0C0707;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#adam-games-logo {
    height: auto;
    width: 500px;
    image-rendering: pixelated;
}

.nav-bar {
    top: 0;
    margin: 0px;
    background-color: #DC4144;
    width: 100%;
    height: 70px;

}

#link-list {
    list-style-type: none;
    margin: 0px;
    text-align: center;
    padding-top: 10px;
}

.nav-bar-list-components {
    display: inline-block;
    border: 2px solid #E67A7C;
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: dogica;
}


.single-link { color: white; }

.nav-bar-list-components:hover { border: 2px solid white; }

#current-page {
    border: 2px solid white;
    background-color: #E05457;
}