body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.heading-logo {
    text-align: center;
    background-color: #0C0707;
    margin: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
}

#adam-games-logo {
    height: auto;
    width: 500px;
    image-rendering: pixelated;
}

.nav-bar {
    top: 0;
    margin: 0px;
    background-color: #DC4144;
    width: 100%;
    height: 60px;

}

#link-list {
    list-style-type: none;
    margin: 0px;
    text-align: center;
    padding-top: 10px;
}

.nav-bar-list-components {
    display: inline-block;
    border: 2px solid #E67A7C;
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}


.single-link {}

#current-page {
    color: white;
}